<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Actualizar Ciclo de cultivo</title>
		<link rel="stylesheet" href="../css/pages/forms.css" />
		<link rel="shortcut icon" href="../imgs/logoSena.svg" type="image/x-icon" />
		<script type="module" src="../js/pages/componentLoader.js"></script>
		<link rel="stylesheet" href="../css/components/header.css">
	</head>

	<body>
		<header class="header" data-title="Actualizar ciclo de cultivo">
			
		</header>

		<main class="main-content">
			<div class="form form--height">
				<div class="form__back-link">
					<a href="listar-ciclos-cultivos.html" class="button button--back"
						>← Volver</a
					>
				</div>

				<h2 class="form__title">Actualizar ciclo de cultivo</h2>

				<form class="form__container" method="post">
					<div class="form__row">
						<div class="form__group">
							<label for="nombre" class="form__label">Nombre</label>
							<input
								type="text"
								id="nombre"
								class="form__input form__input--cycle-name"
								placeholder="Ingrese nombre del ciclo de cultivo"
								title="Ingrese nombre del ciclo de cultivo"
							/>
						</div>
						<div class="form__group">
							<label for="id" class="form__label">Identificador</label>
							<input
								type="text"
								id="id"
								class="form__input form__input--cycle-id"
								placeholder="Ingrese el identificador del ciclo de cultivo"
								title="Ingrese el identificador del ciclo de cultivo"
							/>
						</div>
					</div>

					<div class="form__group form__group--full-width">
						<textarea
							id="descripcion"
							class="form__textarea form__textarea--cycle-description"
							placeholder="Ingrese descripción del ciclo de cultivo"
						></textarea>
					</div>

					<div class="form__row">
						<div class="form__group">
							<label for="periodo-inicio" class="form__label">Periodo - Inicio</label>
							<input
								type="date"
								id="periodo-inicio"
								class="form__input form__input--cycle-start-date"
								required
							/>
						</div>
						<div class="form__group">
							<label for="periodo-final" class="form__label">Periodo - Final</label>
							<input
								type="date"
								id="periodo-final"
								class="form__input form__input--cycle-end-date"
								required
							/>
						</div>
					</div>

					<div class="form__group form__group--full-width">
						<textarea
							id="novedades"
							class="form__textarea form__textarea--cycle-updates"
							placeholder="Ingrese novedades del ciclo de cultivo"
						></textarea>
					</div>
					<div class="form-group full-width">
						<div class="status-container">
							<div class="status-item">
								<input
									type="radio"
									name="estado-habilitado"
									value="habilitado"
									checked
								/>
								Habilitado
							</div>
							<div class="status-item">
								<input
									type="radio"
									name="estado-habilitado"
									value="deshabilitado"
								/>
								Deshabilitado
							</div>
						</div>
					</div>

					<div class="form__button-container">
						<button type="submit" class="button button--submit">
							Actualizar
						</button>
					</div>
				</form>
			</div>
		</main>

		<script src="../js/validations/cropCycleUpdateValidator.js"></script>
	</body>
</html>
