<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Crear usuario</title>
		<link rel="stylesheet" href="../css/pages/forms.css" />
		<link rel="shortcut icon" href="../imgs/logoSena.svg" type="image/x-icon" />
		<script type="module" src="../js/pages/componentLoader.js"></script>
		<link rel="stylesheet" href="../css/components/header.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		/>
	</head>

	<body>
		<header class="header" data-title="Crear usuario"></header>

		<main class="main-content">
			<div class="form">
				<div class="form__back-link">
					<a href="listar-usuarios.html" class="button--back">← Volver</a>
				</div>

				<h2 class="form__title">Registrar un nuevo usuario</h2>

				<form class="form__container" method="post">
					<div class="form__row">
						<div class="form__group">
							<label for="tipo-documento" class="form__label"
								>Tipo de documento</label
							>
							<select
								class="form__select form__select--user-type-id"
								required
							>
								<option value="default">Seleccione una Opción</option>
								<option value="ti">Tarjeta de identidad</option>
								<option value="cc">Cédula de ciudadanía</option>
								<option value="ce">Cédula extranjera</option>
								<option value="pep">Persona Políticamente Expuesta</option>
								<option value="ppt">Permiso de protección temporal</option>
							</select>
						</div>
						<div class="form__group">
							<label for="nombre" class="form__label">Nombre completo</label>
							<input
								type="text"
								class="form__input form__input--user-name"
								placeholder="Ingrese el nombre completo"
								required
							/>
						</div>
					</div>

					<div class="form__row">
						<div class="form__group">
							<label for="numero-documento" class="form__label"
								>Número de documento</label
							>
							<input
								type="text"
								class="form__input form__input--user-id"
								placeholder="Ingrese el número de documento"
								required
							/>
						</div>
						<div class="form__group">
							<label for="telefono" class="form__label"
								>Número de Teléfono</label
							>
							<input
								type="text"
								class="form__input form__input--user-tel"
								placeholder="Ingrese el número de Teléfono"
								required
							/>
						</div>
					</div>

					<div class="form__group">
						<label for="correo" class="form__label">Correo electrónico</label>
						<input
							type="email"
							class="form__input form__input--user-email"
							placeholder="Ingrese el correo electrónico"
							required
						/>
					</div>

					<div class="form__group">
						<label for="confirmar-correo" class="form__label"
							>Confirmar correo</label
						>
						<input
							type="email"
							class="form__input form__input--user-confirm-email"
							placeholder="Ingrese nuevamente el Correo electrónico"
							required
						/>
					</div>

					<div class="form__group">
						<label for="password" class="form__label">Contraseña</label>
						<input
							type="password"
							id="password"
							name="password"
							class="form__input form__input--user-password"
							placeholder="Ingrese una contraseña"
							required
							autocomplete="new-password"
						/>
					</div>

					<div class="form__group">
						<label for="rol" class="form__label">Rol</label>
						<div class="form__rol">
							<select id="rol" class="form__select form__select--user-rol" required>
								<option value="default" selected>Seleccione una Opción</option>
								<option value="superadmin">Super administrador</option>
								<option value="admin">Administrador</option>
								<option value="apoyo">Personal de Apoyo</option>
								<option value="visitante">Visitante</option>
							</select>
						</div>
					</div>

					<div class="form__group--full-width">
						<div class="status-container">
							<div class="status-item">
								<input
									type="radio"
									name="estado-habilitado"
									value="habilitado"
									checked
								/>
								Habilitado
							</div>
							<div class="status-item">
								<input
									type="radio"
									name="estado-habilitado"
									value="deshabilitado"
								/>
								Deshabilitado
							</div>
						</div>
					</div>

					<div class="form__button-container">
						<button type="submit" class="button button--submit">
							Registrar Usuario
						</button>
					</div>
				</form>
			</div>
			<!-- Toast para notificaciones -->
			<div id="toast" class="toast hidden">
				<div class="toast-content">
					<i id="toastIcon" class="fas fa-check-circle"></i>
					<div class="toast-message">
						<span id="toastTitle" class="toast-title"></span>
						<span id="toastDescription" class="toast-description"></span>
					</div>
				</div>
				<div class="toast-progress"></div>
			</div>
		</main>

		<script src="../js/validations/userCreationValidator.js"></script>
	</body>
</html>
