<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producción</title>
    <link rel="stylesheet" href="../css/pages/forms.css" />
    <link rel="shortcut icon" href="../imgs/logoSena.svg" type="image/x-icon" />
    <script type="module" src="../js/pages/componentLoader.js"></script>
    <link rel="stylesheet" href="../css/components/header.css" />
    <link rel="stylesheet" href="../css/pages/crear-produccion.mod.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <header class="header" data-title="Crear Producción"></header>
    <main class="main-content">
        <div class="form form--height">
            <div class="form__back-link">
                <a href="listar-producciones.html" class="button--back">← Volver</a>
            </div>
            <h2 class="form__title">Crear Nueva Producción</h2>
            <form class="form__container" id="productionForm" method="post">
                <div class="form__row">
                    <div class="form__group">
                        <label for="productionName" class="form__label"><i class="fas fa-tag"></i> Nombre de la
                            producción</label>
                        <input type="text" id="productionName" name="productionName" class="form__input" required>
                        <small class="form__helper-text">Mínimo 3 caracteres</small>
                    </div>
                    <div class="form__group">
                        <label for="productionType" class="form__label"><i class="fas fa-list"></i> Tipo</label>
                        <select id="productionType" name="productionType" class="form__select" required>
                            <option value="">Seleccionar tipo</option>
                            <option value="Producción Agrícola">Producción Agrícola</option>
                            <option value="Producción Pecuaria">Producción Pecuaria</option>
                            <option value="Producción Avícola">Producción Avícola</option>
                            <option value="Producción Porcina">Producción Porcina</option>
                            <option value="Producción Bovina">Producción Bovina</option>
                            <option value="Producción Caprina">Producción Caprina</option>
                            <option value="Producción Ovina">Producción Ovina</option>
                            <option value="Producción Apícola">Producción Apícola</option>
                            <option value="Producción Piscícola">Producción Piscícola</option>
                            <option value="Producción Mixta">Producción Mixta</option>
                            <option value="Producción Agroecológica">Producción Agroecológica</option>
                            <option value="Producción de Autoconsumo">Producción de Autoconsumo</option>
                            <option value="Producción Hortícola">Producción Hortícola</option>
                            <option value="Producción Frutícola">Producción Frutícola</option>
                            <option value="Producción Forestal">Producción Forestal</option>
                        </select>
                    </div>
                </div>

                <div class="form__group form__group--full-width">
                    <label for="location" class="form__label"><i class="fas fa-map-marker-alt"></i> Ubicación</label>
                    <input type="text" id="location" name="location" class="form__input" required>
                </div>

                <div class="form__group form__group--full-width">
                    <label for="description" class="form__label"><i class="fas fa-align-left"></i> Descripción</label>
                    <textarea id="description" name="description" class="form__textarea" rows="3" required></textarea>
                </div>
                <div class="form__row">
                    <div class="form__group">
                        <label for="crop" class="form__label"><i class="fas fa-leaf"></i> Cultivo</label>
                        <div class="form__select-container">
                            <select id="crop" name="crop" class="form__select" required>
                                <option value="">Seleccionar cultivo</option>
                            </select>
                            <button type="button" id="createCropBtn" class="button--create">
                                <i class="fas fa-plus-circle"></i> Nuevo Cultivo
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__group">
                        <label for="cropCycle" class="form__label"><i class="fas fa-sync"></i> Ciclo</label>
                        <div class="form__select-container">
                            <select id="cropCycle" name="cropCycle" class="form__select" required>
                                <option value="">Seleccionar ciclo</option>
                            </select>
                            <button type="button" id="createCropCycleBtn" class="button--create">
                                <i class="fas fa-plus-circle"></i> Nuevo Ciclo
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__group">
                        <label for="responsible" class="form__label"><i class="fas fa-user"></i> Responsable</label>
                        <div class="form__select-container">
                            <select id="responsible" name="responsible" class="form__select" required>
                                <option value="">Seleccionar responsable</option>
                            </select>
                            <button type="button" id="createUserBtn" class="button--create">
                                <i class="fas fa-plus-circle"></i> Nuevo Responsable
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form__section">
                    <h3 class="form__section-title"><i class="fas fa-box-open"></i> Insumos (Máximo 1 por tipo)</h3>
                    <div class="form__row">
                        <div class="form__group">
                            <div class="supply-selection">
                                <select id="supply" class="form__select">
                                    <option value="">Seleccionar insumo</option>
                                </select>
                                <div class="button-group">
                                    <button type="button" id="addSupply" class="button--add">
                                        <i class="fas fa-plus"></i> Agregar a la lista
                                    </button>
                                    <button type="button" id="createSupplyBtn" class="button--create">
                                        <i class="fas fa-plus-circle"></i> Nuevo Insumo
                                    </button>
                                </div>
                            </div>
                            <div id="selectedSupplies" class="selected-items"></div>
                            <div id="supplyUsageForm" class="form__section">
                                <h3 class="form__section-title"><i class="fas fa-clipboard-list"></i> Registro de Uso de
                                    Insumo</h3>
                                <div class="form__row">
                                    <div class="form__group">
                                        <h4>Información del Insumo</h4>
                                        <div class="supply-info">
                                            <p><strong>Nombre:</strong> <span id="supplyName"></span></p>
                                            <p><strong>Cantidad Disponible:</strong> <span
                                                    id="availableQuantity"></span></p>
                                            <p><strong>Valor Unitario:</strong> <span id="unitValue"></span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row">
                                    <div class="form__group">
                                        <label for="supplyUsageQuantity" class="form__label"><i
                                                class="fas fa-weight"></i> Cantidad a usar</label>
                                        <input type="number" id="supplyUsageQuantity" name="supplyUsageQuantity"
                                            class="form__input" min="0" step="0.01" required>
                                        <small class="form__helper-text">Ingrese la cantidad que desea usar del insumo
                                            seleccionado</small>
                                    </div>
                                </div>
                                <div class="form__button-container">
                                    <button type="button" id="addSupplyUsage" class="button button--submit">
                                        <i class="fas fa-save"></i> Registrar Uso
                                    </button>
                                    <button type="button" id="hideSupplyUsageForm" class="button button--cancel">
                                        <i class="fas fa-times"></i> Ocultar Formulario
                                    </button>
                                </div>
                            </div>
                            <small class="form__helper-text">Seleccione al menos un insumo para la producción. Solo se
                                permite un insumo de cada tipo.</small>
                        </div>
                    </div>
                </div>

                <div class="form__section">
                    <h3 class="form__section-title"><i class="fas fa-microchip"></i> Sensores (Máximo 3)</h3>
                    <div class="form__row">
                        <div class="form__group">
                            <div class="sensor-selection">
                                <select id="sensor" class="form__select">
                                    <option value="">Seleccionar sensor</option>
                                </select>
                                <div class="button-group">
                                    <button type="button" id="addSensor" class="button--add">
                                        <i class="fas fa-plus"></i> Agregar a la lista
                                    </button>
                                    <button type="button" id="createSensorBtn" class="button--create">
                                        <i class="fas fa-plus-circle"></i> Nuevo Sensor
                                    </button>
                                </div>
                            </div>
                            <div id="selectedSensors" class="selected-items"></div>
                        </div>
                    </div>
                </div>

                <div class="form__section">
                    <h3 class="form__section-title"><i class="fas fa-calendar-alt"></i> Fechas de Producción</h3>
                    <div class="form__row">
                        <div class="form__group">
                            <label for="startDate" class="form__label"><i class="fas fa-calendar-plus"></i> Fecha de
                                Inicio</label>
                            <input type="date" id="startDate" name="startDate" class="form__input" required>
                            <small id="startDateHelperText" class="form__helper-text">Fecha en que inicia o inició la
                                producción</small>
                        </div>
                        <div class="form__group">
                            <label for="endDate" class="form__label"><i class="fas fa-calendar-check"></i> Fecha de
                                Fin</label>
                            <input type="date" id="endDate" name="endDate" class="form__input" required>
                            <small id="endDateHelperText" class="form__helper-text">Fecha estimada de finalización
                                (posterior a la fecha de inicio)</small>
                        </div>
                    </div>
                </div>

                <div class="form__section">
                    <h3 class="form__section-title"><i class="fas fa-chart-line"></i> Inversión y Meta</h3>
                    <div class="form__row">
                        <div class="form__group">
                            <label for="totalInvestment" class="form__label"><i class="fas fa-dollar-sign"></i>
                                Inversión Total</label>
                            <input type="number" id="totalInvestment" name="totalInvestment" class="form__input"
                                step="0.01" min="0" readonly required>
                            <small id="investmentHelperText" class="form__helper-text">Calculado automáticamente en base
                                a los insumos seleccionados</small>
                        </div>
                        <div class="form__group">
                            <label for="estimatedProfit" class="form__label"><i class="fas fa-chart-line"></i> Meta de
                                Ganancias</label>
                            <div class="form__input-with-button">
                                <input type="number" id="estimatedProfit" name="estimatedProfit" class="form__input"
                                    step="0.01" min="0" required readonly>
                            </div>
                            <small id="profitHelperText" class="form__helper-text">La meta de ganancias se toma de acuerdo al 30%</small>
                        </div>
                    </div>
                </div>

                <div class="form__button-container">
                    <button type="button" id="createBtn" class="button button--submit">
                        <i class="fas fa-save"></i> Crear Producción
                    </button>
                    <div id="loadingIndicator" class="loading-indicator hidden">
                        <i class="fas fa-spinner fa-spin"></i> Creando producción...
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- Toast para notificaciones -->
    <div id="toast" class="toast hidden">
        <div class="toast-content">
            <i id="toastIcon" class="fas fa-check-circle"></i>
            <div class="toast-message">
                <span id="toastTitle" class="toast-title"></span>
                <span id="toastDescription" class="toast-description"></span>
            </div>
        </div>
        <div class="toast-progress"></div>
    </div>

    <!-- Modal para crear usuario -->
    <div id="createUserModal" class="modal hidden">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">Crear Nuevo Usuario</h2>
                <button type="button" id="closeCreateUserModal" class="modal__close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal__body">
                <form id="createUserForm" class="form__container" method="post">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-tipo-documento" class="form__label">Tipo de documento</label>
                            <select id="modal-tipo-documento" class="form__select form__select--user-type-id" required>
                                <option value="default">Seleccione una Opción</option>
                                <option value="ti">Tarjeta de identidad</option>
                                <option value="cc">Cédula de ciudadanía</option>
                                <option value="ce">Cédula extranjera</option>
                                <option value="pep">Persona Políticamente Expuesta</option>
                                <option value="ppt">Permiso de protección temporal</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <label for="modal-nombre" class="form__label">Nombre completo</label>
                            <input type="text" id="modal-nombre" class="form__input form__input--user-name"
                                placeholder="Ingrese el nombre completo" required />
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-numero-documento" class="form__label">Número de documento</label>
                            <input type="text" id="modal-numero-documento" class="form__input form__input--user-id"
                                placeholder="Ingrese el número de documento" required />
                        </div>
                        <div class="form__group">
                            <label for="modal-telefono" class="form__label">Número de Teléfono</label>
                            <input type="text" id="modal-telefono" class="form__input form__input--user-tel"
                                placeholder="Ingrese el número de Teléfono" required />
                        </div>
                    </div>

                    <div class="form__group">
                        <label for="modal-correo" class="form__label">Correo electrónico</label>
                        <input type="email" id="modal-correo" class="form__input form__input--user-email"
                            placeholder="Ingrese el correo electrónico" required />
                    </div>

                    <div class="form__group">
                        <label for="modal-confirmar-correo" class="form__label">Confirmar correo</label>
                        <input type="email" id="modal-confirmar-correo"
                            class="form__input form__input--user-confirm-email"
                            placeholder="Ingrese nuevamente el Correo electrónico" required />
                    </div>

                    <div class="form__group">
                        <label for="modal-rol" class="form__label">Rol</label>
                        <div class="form__rol">
                            <select id="modal-rol" class="form__select form__select--user-rol" required>
                                <option value="default" selected>Seleccione una Opción</option>
                                <option value="superadmin">Super administrador</option>
                                <option value="admin">Administrador</option>
                                <option value="apoyo">Personal de Apoyo</option>
                                <option value="visitante">Visitante</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__group form__group--full-width">
                        <div class="status-container">
                            <div class="status-item">
                                <input type="radio" name="modal-estado-habilitado" value="habilitado" checked />
                                Habilitado
                            </div>
                            <div class="status-item">
                                <input type="radio" name="modal-estado-habilitado" value="deshabilitado" />
                                Deshabilitado
                            </div>
                        </div>
                    </div>

                    <div class="form__button-container">
                        <button type="submit" class="button button--submit">
                            Crear Usuario
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para crear sensor -->
    <div id="createSensorModal" class="modal hidden">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">Crear Nuevo Sensor</h2>
                <button type="button" id="closeCreateSensorModal" class="modal__close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal__body">
                <form id="createSensorForm" class="form__container" method="post">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-tipo-sensor" class="form__label">Tipo de sensor</label>
                            <select id="modal-tipo-sensor" class="form__select form__select--sensor-type" required>
                                <option value="default">Seleccione una opción</option>
                                <option value="Sensor de contacto">Sensor de contacto</option>
                                <option value="Sensor de distancia">Sensor de distancia</option>
                                <option value="Sensores de luz">Sensores de luz</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <label for="modal-nombre-sensor" class="form__label">Nombre del sensor</label>
                            <input type="text" id="modal-nombre-sensor" class="form__input form__input--sensor-name"
                                placeholder="Ingrese nombre del sensor" required />
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-unidad-medida" class="form__label">Unidad de medida</label>
                            <select id="modal-unidad-medida" class="form__select form__select--sensor-unit" required>
                                <option value="default">Seleccione una opción</option>
                                <option value="Temperatura">Temperatura</option>
                                <option value="Distancia">Distancia</option>
                                <option value="Presión">Presión</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <label for="modal-imagen" class="form__label">Imagen</label>
                            <div class="form__image-input">
                                <input type="file" id="modal-imagen" class="form__file form__file--sensor-image"
                                    accept=".jpg, .jpeg, .png" required />
                            </div>
                        </div>
                    </div>

                    <div class="form__group form__group--full-width">
                        <label for="modal-descripcion" class="form__label">Descripción</label>
                        <textarea id="modal-descripcion" class="form__textarea form__textarea--sensor-description"
                            placeholder="Ingrese descripción del sensor" required></textarea>
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-tiempo-escaneo" class="form__label">Tiempo de Escaneo/Muestreo</label>
                            <select id="modal-tiempo-escaneo" class="form__select form__select--sensor-scan" required>
                                <option value="default">Seleccione una opción</option>
                                <option value="Sensores lentos">Sensores lentos</option>
                                <option value="Sensores de velocidad media">Sensores de velocidad media</option>
                                <option value="Sensores rápidos">Sensores rápidos</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__group form__group--full-width">
                        <div class="status-container">
                            <div class="status-item">
                                <input type="radio" name="modal-estado-sensor" value="habilitado" checked />
                                Habilitado
                            </div>
                            <div class="status-item">
                                <input type="radio" name="modal-estado-sensor" value="deshabilitado" />
                                Deshabilitado
                            </div>
                        </div>
                    </div>

                    <div class="form__button-container">
                        <button type="submit" class="button button--submit">
                            Crear Sensor
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para crear insumo -->
    <div id="createSupplyModal" class="modal hidden">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">Crear Nuevo Insumo</h2>
                <button type="button" id="closeCreateSupplyModal" class="modal__close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal__body">
                <form id="createSupplyForm" class="form__container" method="post">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-nombre-insumo" class="form__label">Nombre</label>
                            <input type="text" id="modal-nombre-insumo" class="form__input form__input--insume-name"
                                placeholder="Ingrese nombre del insumo" required />
                        </div>
                        <div class="form__group">
                            <label for="modal-tipo-insumo" class="form__label">Tipo de insumo</label>
                            <input type="text" id="modal-tipo-insumo" class="form__input form__input--insume-type"
                                placeholder="Tipo de insumo" required />
                        </div>
                    </div>
                    <div class="form__group">
                        <label for="modal-imagen-insumo" class="form__label">Imagen</label>
                        <input type="file" id="modal-imagen-insumo" class="form__file form__file--insume-image"
                            accept=".jpg, .jpeg, .png" required />
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-medida-insumo" class="form__label">Unidad de medida</label>
                            <select id="modal-medida-insumo" class="form__select form__select--insume-extent" required>
                                <option value="default">Seleccione una Opción</option>
                                <option value="peso">peso</option>
                                <option value="volumen">volumen</option>
                                <option value="superficie">superficie</option>
                                <option value="concentración">concentración</option>
                                <option value="litro">litro</option>
                                <option value="kilo">kilo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-valor-unitario" class="form__label">Valor unitario</label>
                            <input type="text" id="modal-valor-unitario" class="form__input form__input--insume-price"
                                placeholder="Ingrese el valor unitario del insumo" required />
                        </div>
                        <div class="form__group">
                            <label for="modal-cantidad" class="form__label">Cantidad</label>
                            <input type="text" id="modal-cantidad" class="form__input form__input--insume-amount"
                                placeholder="Ingrese la cantidad de unidades" required />
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-valor-total" class="form__label">Valor total</label>
                            <input type="text" id="modal-valor-total" class="form__input form__input--total-value"
                                placeholder="Ingrese el valor total del insumo" readonly required />
                        </div>
                        <div class="form__group form__group--full-width">
                            <label for="modal-descripcion-insumo" class="form__label">Descripción</label>
                            <textarea id="modal-descripcion-insumo"
                                class="form__textarea form__textarea--insume-description"
                                placeholder="Ingrese descripción del insumo" required></textarea>
                        </div>
                    </div>
                    <div class="form__group form__group--full-width">
                        <div class="status-container">
                            <div class="status-item">
                                <input type="radio" name="modal-estado-insumo" value="habilitado" checked />
                                Habilitado
                            </div>
                            <div class="status-item">
                                <input type="radio" name="modal-estado-insumo" value="deshabilitado" />
                                Deshabilitado
                            </div>
                        </div>
                    </div>
                    <div class="form__button-container">
                        <button type="submit" class="button button--submit">
                            Crear Insumo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para crear cultivo -->
    <div id="createCropModal" class="modal hidden">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">Crear Nuevo Cultivo</h2>
                <button type="button" id="closeCreateCropModal" class="modal__close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal__body">
                <form id="createCropForm" class="form__container" method="post">
                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-nombre-cultivo" class="form__label">Nombre</label>
                            <input type="text" id="modal-nombre-cultivo" class="form__input form__input--cultive-name"
                                placeholder="Ingrese nombre del cultivo" required />
                        </div>
                        <div class="form__group">
                            <label for="modal-tipo-cultivo" class="form__label">Tipo de cultivo</label>
                            <select id="modal-tipo-cultivo" class="form__input form__input--cultive-type" required>
                                <option value="Fruta">Fruta</option>
                                <option value="Verdura">Verdura</option>
                                <option value="Cereal">Cereal</option>
                                <option value="Tubérculo">Tubérculo</option>
                                <option value="Bebida">Bebida</option>
                            </select>
                        </div>
                    </div>

                    <div class="form__group">
                        <label for="modal-imagen-cultivo" class="form__label">Imagen</label>
                        <input type="file" id="modal-imagen-cultivo" class="form__file form__file--cultive-image"
                            accept=".jpg, .jpeg, .png" required />
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-ubicacion-cultivo" class="form__label">Ubicación</label>
                            <input type="text" id="modal-ubicacion-cultivo"
                                class="form__input form__input--cultive-location"
                                placeholder="Ingrese la ubicación del cultivo" required />
                        </div>
                    </div>

                    <div class="form__group form__group--full-width">
                        <label for="modal-tamano-cultivo" class="form__label">Tamaño</label>
                        <input type="number" id="modal-tamano-cultivo" class="form__input form__input--cultive-size"
                            placeholder="Ingrese el tamaño del cultivo en m2" required />
                    </div>

                    <div class="form__group form__group--full-width">
                        <label for="modal-descripcion-cultivo" class="form__label">Descripción</label>
                        <textarea id="modal-descripcion-cultivo"
                            class="form__textarea form__textarea--cultive-description"
                            placeholder="Ingrese descripción del cultivo" required></textarea>
                    </div>

                    <div class="form__group form__group--full-width">
                        <div class="status-container">
                            <div class="status-item">
                                <input type="radio" name="modal-estado-cultivo" value="habilitado" checked />
                                Habilitado
                            </div>
                            <div class="status-item">
                                <input type="radio" name="modal-estado-cultivo" value="deshabilitado" />
                                Deshabilitado
                            </div>
                        </div>
                    </div>

                    <div class="form__button-container">
                        <button type="submit" class="button button--submit">
                            Crear Cultivo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para crear ciclo de cultivo -->
    <div id="createCropCycleModal" class="modal hidden">
        <div class="modal__content">
            <div class="modal__header">
                <h2 class="modal__title">Crear Nuevo Ciclo de Cultivo</h2>
                <button type="button" id="closeCreateCropCycleModal" class="modal__close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal__body">
                <form id="createCropCycleForm" class="form__container" method="post">
                    <div class="form__group form__group--full-width">
                        <label for="modal-nombre-ciclo" class="form__label">Nombre</label>
                        <input type="text" id="modal-nombre-ciclo" class="form__input form__input--cycle-name"
                            placeholder="Ingrese nombre del ciclo de cultivo" required />
                    </div>

                    <div class="form__group form__group--full-width">
                        <label for="modal-descripcion-ciclo" class="form__label">Descripción</label>
                        <textarea id="modal-descripcion-ciclo" class="form__textarea form__textarea--cycle-description"
                            placeholder="Ingrese descripción del ciclo de cultivo" required></textarea>
                    </div>

                    <div class="form__row">
                        <div class="form__group">
                            <label for="modal-periodo-inicio" class="form__label">Periodo - Inicio</label>
                            <input type="date" id="modal-periodo-inicio"
                                class="form__input form__input--cycle-start-date" required />
                        </div>
                        <div class="form__group">
                            <label for="modal-periodo-final" class="form__label">Periodo - Final</label>
                            <input type="date" id="modal-periodo-final" class="form__input form__input--cycle-end-date"
                                required />
                        </div>
                    </div>

                    <div class="form__group form__group--full-width">
                        <label for="modal-novedades-ciclo" class="form__label">Novedades</label>
                        <textarea id="modal-novedades-ciclo" class="form__textarea form__textarea--cycle-updates"
                            placeholder="Ingrese novedades del ciclo de cultivo" required></textarea>
                    </div>

                    <div class="form__group form__group--full-width">
                        <div class="status-container">
                            <div class="status-item">
                                <input type="radio" name="modal-estado-ciclo" value="habilitado" checked />
                                Habilitado
                            </div>
                            <div class="status-item">
                                <input type="radio" name="modal-estado-ciclo" value="deshabilitado" />
                                Deshabilitado
                            </div>
                        </div>
                    </div>

                    <div class="form__button-container">
                        <button type="submit" class="button button--submit">
                            Crear Ciclo de Cultivo
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="../js/validations/productionCreationValidator.js" type="module"></script>
    <script src="../js/validations/supplyUsageValidator.js" type="module"></script>
</body>

</html>

<style>
    .loading-indicator {
        margin-top: 10px;
        color: #2196F3;
        font-weight: 500;
    }

    .hidden {
        display: none;
    }

    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        z-index: 9999;
        min-width: 300px;
        max-width: 400px;
    }

    .toast--success .toast-icon {
        color: var(--green-700);
    }

    .toast--error .toast-icon {
        color: #e53935;
    }

    .toast-content {
        display: flex;
        padding: 16px;
        align-items: flex-start;
    }

    .toast-icon {
        font-size: 24px;
        margin-right: 12px;
    }

    .toast-message {
        flex: 1;
    }

    .toast-title {
        display: block;
        font-weight: 600;
        margin-bottom: 4px;
        font-size: 16px;
    }

    .toast-description {
        font-size: 14px;
        color: #666;
    }

    .toast-progress {
        height: 4px;
        background-color: var(--green-500);
        width: 0%;
        animation: progress 3s linear;
    }

    @keyframes progress {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }
</style>
</body>

</html>