<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100;400;700" rel="stylesheet" />
	<title>Olvidé mi contraseña</title>
	<link rel="shortcut icon" href="../imgs/logoSena.svg" type="image/x-icon" />
	<link rel="stylesheet" href="../css/pages/log.css" />
</head>

<body>
	<div class="layout">
		<main class="layout__main main main--forget">
			<section class="main__login login login--forget">
				<header class="login__header">
					<h2 class="login__title">
						A tu correo se enviará un código para que recuperes tu contraseña
					</h2>
				</header>
				<form class="login__form form form--forget">
					<div class="form__group">
						<input
							type="email"
							placeholder="Correo electrónico"
							class="form__input"
							id="emailRecuperar"
						/>
					</div>
					<div class="form__actions">
						<button class="form__button" type="submit">Enviar código</button>
					</div>
				</form>
			</section>
		</main>

		<aside class="layout__aside aside">
			<img src="../imgs/sgal.jpeg" alt="Logo SGAL" class="aside__logo" />
		</aside>
	</div>

	<script src="../js/validations/passwordRecoveryValidator.js"></script>
</body>
</html>
