/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--green-50: #edf7e8;
	--green-100: #dbefb9;
	--green-200: #c9e8b9;
	--green-300: #b7e0a2;
	--green-400: #a5d88b;
	--green-500: #93d074;
	--green-600: #81c85d;
	--green-700: #6fc046;
	--green-800: #5dd12e;
	--green-900: #4bbd17;
	--green-950: #39a900;

	--secondary-green: #007832;
	--secondary-blue: #50e5f9;
	--warning: rgb(254,217,93);
	--expired: rgb(253,195,0);

	--gray-100: #313131;
	--gray-80: #626262;
	--gray-60: #949494;
	--gray-40: #c5c5c5;
	--gray-20: #f6f6f6;
	--primary-color: #39b54a;
	--text-color: #666666;
	--background-color: #f5f5f5;
	--white: #ffffff;
	--border-color: #ddd;
	--shadow-color: rgba(0, 0, 0, 0.1);

	--button-height: 4rem;
	/* 40px */
	--button-border-radius: 2rem;
	/* 20px */
	--button-padding-between-elements: 0.8rem;
	/* 8px */
	--button-icon-size: 1.8rem;
	/* 18px */
}

h1 {
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: 600;
}

h2 {
	color: var(--text-color);
	font-size: 1.25rem;
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 600;
}

/* Reset y estilos base */
html {
	/* margin: 0; */
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	font-family: "Work Sans", serif;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--green-500);
	color: var(--text-color);
	height: 100vh;
}

/* Contenedor principal */
.main-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 1rem auto; */
	padding: 1rem;
	min-height: calc(100vh - 6rem);
	/* Ajusta 60px según la altura del navbar */
}

/* Estolos del login */
/* Loader que cubre toda la pantalla */
/* Loader aparece en el login (index.html) */
.loader {
	background: var(--white);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	clip-path: circle(150% at 100% 0%);
	transition: clip-path 0.8s ease-in-out;
}

.loader--hidden {
	clip-path: circle(0% at 100% 0%);
}

/* From Uiverse.io by mobinkakei */
.loader__wrapper {
	width: 200px;
	height: 60px;
	position: relative;
	z-index: 1;
}

.loader__circle {
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color: var(--green-950);
	left: 15%;
	transform-origin: 50%;
	animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}

	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}

	100% {
		top: 0%;
	}
}

.loader__circle:nth-child(2) {
	left: 45%;
	animation-delay: 0.2s;
}

.loader__circle:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}

.loader__shadow {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
	0% {
		transform: scaleX(1.5);
	}

	40% {
		transform: scaleX(1);
		opacity: 0.7;
	}

	100% {
		transform: scaleX(0.2);
		opacity: 0.4;
	}
}

.loader__shadow:nth-child(4) {
	left: 45%;
	animation-delay: 0.2s;
}

.loader__shadow:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: 0.3s;
}

/* Contenedor */
.container-login {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.aside {
	width: 40%;
	background: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*caja con el logo SENA */
.aside__logo {
	width: 25rem;
}

.main-content--login {
	width: 60%;
	display: flex;
	justify-content: center; 
	align-items: center; 
	background-color: var(--green-950);
}

.button--submit {
	background-color: var(--green-800);
	color: var(--white);
	padding: 1rem 2.4rem;
	height: var(--button-height);
	border: none;
	border-radius: var(--button-border-radius);
	cursor: pointer;
	font-size: 1.6rem;
	transition: background-color 0.3s ease;
}

.form__link--forgot-password {
	font-size: 1.2rem;
	color: var(--green-900);
	text-decoration: none;
	margin-bottom: 1rem;
}

.button--submit:hover {
	background-color: var(--green-900);
}

/* Estolos del login */

.form,
.form.form--height,
.form--login {
	width: 60rem;
	height: auto;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 8px var(--shadow-color);
}

.form.form--height {
	height: auto;
}

.form--login {
	align-items: center;
	justify-content: center;
	gap: 4rem;
}
.form__container--login {
	background: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	padding: 3rem;
	border-radius: 1rem;
	width: 100%;
	height: auto;
	text-align: center;
}

.form__group--login {
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
	width: 100%;
	max-width: 60rem;
}

/* Enlaces */
.form__back-link {
	margin-bottom: 1rem;
}

.button--back {
    display: inline-block;
    padding: 0.4rem 1.1rem;
    background: var(--green-50);
    color: var(--green-700);
    border-radius: 7px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    /* margin-bottom: 1.2rem; */
    transition: background 0.18s, color 0.18s;
    border: none;
  }
  .button--back:hover {
    background: var(--green-100);
    color: var(--green-800);
  }

/* logotipo de actuallizar-contraseña.html */
.form__logo {
	width: 10rem;
	height: 10rem;
	margin-bottom: 6rem;
	margin: 0 auto;
}

/* logotipos*/

/* Títulos */
.form__title {
	color: var(--text-color);
	font-size: 2rem;
	text-align: center;
	font-weight: 600;
	margin: 0;
}

.form__container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

/* Formulario */
.form__row {
	display: flex;
	gap: 1.6rem;
}

.form__group {
	flex: 1;
}

.form__group--login {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1rem;
}

.form__group--full-width {
	width: 100%;
	/* margin-bottom: 1rem; */
}

.form__group--update {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form__label {
	display: block;
	margin-bottom: 0.4rem;
	color: var(--text-color);
	font-size: 1.4rem;
	font-weight: 600;
}

.form__input,
.form__image-input,
.form__select,
.form__textarea {
	width: 100%;
	height: 4rem;
	padding: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	font-size: 1.4rem;
}

.form__input--size {
	display: flex;
	height: 5rem;
	width: 100%;
	border: 2px solid var(--gray-60);
	border-radius: 0.6rem;
	/* margin-bottom: 1rem; */
}

.form__input--email,
.form__input--password {
	width: 100%;
	height: 4.6rem;
	padding: 1rem;
	border: none;
	border-bottom: 0.2rem solid var(--gray-40);
	outline: none;
	border-radius: 0.6px;
	font-size: 1.4rem;
	transition: all 0.2s ease-in-out;
}
.form__input--email:focus,
.form__input--password:focus {
	border-bottom: 2px solid var(--green-950);
	/* Color cuando está enfocado */
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.5);
}

.form__textarea {
	resize: vertical;
	height: 4.2rem;
}

.form__textarea--full-height {
	min-height: 100px;
}

/* Botón de envío */
.form__button-container {
	text-align: center;
	/* margin-top: 2rem; */
}

.button--submit {
	background-color: var(--green-800);
	color: var(--white);
	padding: 1rem 2.4rem;
	height: var(--button-height);
	border: none;
	border-radius: var(--button-border-radius);
	cursor: pointer;
	font-size: 1.6rem;
	transition: background-color 0.3s ease;
}

.button--submit:hover {
	background-color: var(--green-900);
}

/* Responsividad */
@media (width < 480px) {
	.aside {
		height: 10%;
		width: 100%;
		display: flex;
	}

	.aside__logo {
		width: 6rem;
		height: 6rem;
	}

	.main-content--login {
		width: 100%;
		height: 90%;
		padding: 2rem;
	}

	.form--login {
		width: 100%;
		height: 28rem;
		padding: 4rem 2rem ;
		gap: 4rem;
	}

	.form__container--login {
		padding: 2rem 0;
		width: 100%;	
	}

	.form__input--email,
	.form__input--password {
		height: 5.6rem;
		font-size: 1.4rem;
		width: 100%;
	}

	.form__link--forgot-password {
		font-size: 1.6rem;
	}
}

@media (width < 768px) {
	.container-login {
		flex-direction: column;
	}

	.div__effect {
		opacity: 0;
		visibility: hidden;
	}

	.aside {
		width: 100%;
		height: 15%;
		order: 1;
	}

	.aside__logo {
		width: 8rem;
		height: 8rem;
	}

	.main-content--login {
		width: 100%;
		height: 85%;
		padding: 2rem ;
		order: 2;
	}

	.form__link--forgot-password {
		font-size: 1.4rem;
	}

	.form {
		height: auto;
		padding: 4rem 2rem;
	}

	.form--login {
		width: 100%;
		height: 54rem;
		padding: 4rem 2rem ;
		gap: 4rem;
	}

	.form__container {
		gap: 2rem;
	}

	.form__row {
		flex-direction: column;
		gap: 2rem;
	}

	.header {
		padding: 1rem;
	}

	.header__logo--sena,
	.header__logo--sgal {
		display: none;
	}
}

.status-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 1rem 0;
}

.status-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.4rem;
}

.status-item input {
	width: 1.5rem;
	height: 1.5rem;
	accent-color: var(--green-950);
}

.error,
.correct {
	color: var(--expired);
	border: none;
	font-size: clamp(1.2rem,
			1vw,
			1.6rem);
	/* Ajusta el tamaño de fuente según sea necesario */
	margin: 0;
	text-align: center;
}

.correct {
	color: var(--green-900);
}



/* Toast */
.toast {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-color: white;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	padding: 1rem;
	min-width: 300px;
	max-width: 400px;
	z-index: 1001;
	animation: toastFadeIn 0.3s;
}

@keyframes toastFadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.toast-content {
	display: flex;
	align-items: center;
}

.toast-content i {
	margin-right: 0.75rem;
	font-size: 2.2rem;
}

.toast-content i.fa-check-circle {
	color: var(--primary-color);
}

.toast-content i.fa-exclamation-circle {
	color: var(--warning);
}

.toast-message {
	flex: 1;
}

.toast-title {
	display: block;
	font-weight: 500;
	font-size: 1.4rem;
}

.toast-description {
	display: block;
	font-size: 1rem;
	color: var(--text-light);
}

.toast-progress {
	height: 3px;
	background-color: var(--primary-color);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	animation: progress 5s linear;
}

@keyframes progress {
	from {
		width: 100%;
	}

	to {
		width: 0%;
	}
}

.hidden {
	display: none;
}

/* Estilos para los campos de selección y botones */
.form__select-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form__select {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--white);
}

.button-group {
    display: flex;
    gap: 8px;
    width: 100%;
}

